.Button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Nanum Pen Script";
  }
  .Button_default,
  .Button_positive {
    font-size: 13px;
    border-radius: 50px;
    width: 150px;
    line-height: 20px;
  }
  .Button_default {
    border: 2px solid #fd7b54;


    color: #fd7b54;
    font-family: '맑은고딕'

  }
  .Button_positive {
    background-color: #fd7b54;
    color: white;
    font-family: '맑은고딕'
  }
  .Button_negative {
    background-color: #545454;
    
    color: white;
  }