.DiaryList {
  .menu_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    //왼쪽 셀렉
    .left_col {
      select {
        max-width: 80px;
        height: 40px;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 13px;
      }
    }
    //오른쪽 셀렉
    .right_col {
      button {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-weight: bold;

        .button_plus {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  //검색 부분
  .search_wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    min-width: 0;
    input.tool_bar {
      height: 40px;
      padding: 0.5rem;
      margin-right: 40px;
      border: 2px solid $primary;
      border-radius: 20px;
      box-sizing: border-box;
      min-width: 100px;
    }
  }
}

.modal-open-btn {
  width: 100%;
  height: 100%;
  display: flex;
}

// 일기 모달 부분

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  svg.modal-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border-top: 23px;
  }
  .modal-content {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    max-width: 500px;
    max-height: 300px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 4px 3px rgb(0, 0, 0, 0.2);
    .cont {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 20px;

      .img_section {
        width: 80px;
        margin-bottom: 30px;
        margin: auto;
      }
      .modal_info {
        flex: 1;
        background: #ddd;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        .date_wrapper {
          color: #888;
          padding-bottom: 10px;
          font-weight: 300;
        }
      }
    }

    svg.button_edit {
      position: absolute;
      right: 23px;
      bottom: 23px;
    }
  }
}

.loadMoreButton {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 0 3px;
  color: #fff;
  margin: 0 auto 40px;
}
