.DiaryHeader {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 3%;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  > div {
    display: flex;
    font-weight: 600;
    font-size: 16px;
  }
  button {
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
  }
  .DiaryHeader_left {
    width: 25%;
    justify-content: start;
    margin-left: 25%;
  }
  .DiaryHeader_title {
    width: 50%;
    font-size: 25px;
    justify-content: center;
    font-weight: bold;
    margin-right: 24px;
    .new_diary {
      margin-right: 24px;
    }
  }
  .DiaryHeader_right {
    width: 25%;
    justify-content: end;
    margin-right: 25%;
    cursor: pointer;
  }
  .button_return {
    cursor: pointer;
  }
}
