.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  img {
    width: 80%;
    margin-bottom: 10px;
  }
}
.EmotionItem_off {
  background-color: #eeeeee;
}

.EmotionItem_on_1 {
  background-color: #fd7b54;
}

.EmotionItem_on_2 {
  background-color: #ffb59f;
}

.EmotionItem_on_3 {
  background-color: #545454;
}
