.calcWrap {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 30px;
  /* bmi 계산 */
  .bmi {
    padding: 50px 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      position: relative;
      margin-right: 15px;
      margin-bottom: 20px;
      p.label {
        position: absolute;
        left: 10px;
        top: -20px;
        font-size: 14px;
        color: $primary;
        font-weight: 600;
      }

      input {
        width: 90px;
        padding: 10px;
        border: 2px solid $primary;
        border-radius: 30px;
      }
      select {
        padding: 10px;
        border: 2px solid $primary;
        border-radius: 20px;
      }
      button.enterBtn {
        width: 100px;
        height: 44px;
        border-radius: 7px;
        color: #fff;
        background: $primary;
        margin: 0 auto;
      }
    }
  }
  p.result {
    font-size: 16px;
    text-align: center;
    span {
      display: inline-block;
      min-width: 100px;
      margin: 10px 10px 30px;
      font-size: 30px;
      border-bottom: 2px solid $primary;
    }
  }

  /* 목표 열량 계산 */
  .kcalGoal {
    width: 100%;
    padding: 45px 0;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    .inputBox {
      position: relative;
      width: 270px;
      margin: 0 auto;
      input {
        box-sizing: border-box;
        width: 270px;
        height: 44px;
        padding: 15px;
        border-radius: 30px;
        border: 2px solid #fd7b53;
        text-align: right;
      }
      input:focus {
        outline: none;
      }
      p {
        position: absolute;
        right: -30px;
        top: 25px;
        color: #555;
        font-weight: 600;
      }
    }
  }
  p.tit {
    color: #555;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
  }
}

/* 선택한 음식 리스트 */
.kcalList {
  ul {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px solid #ddd;
  }
  li {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 65px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    span {
      position: absolute;
      color: #555;
      font-weight: 600;
      top: 23px;
    }
    span.leftListText {
      left: 30px;
    }
    span.rightListText {
      right: 90px;
    }
    .liBtn {
      position: absolute;
      right: 20px;
      top: 15px;
      color: #fd7b53;
      cursor: pointer;
      &:hover {
        color: #555;
      }
    }
  }
}
.emojiBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  height: 150px;
  margin: 50px auto 150px;
  padding: 10px 30px;
  background-color: rgb(255, 228, 219);
  border-radius: 15px;
  @include mobile{
    margin: 40px auto 60px;
  }
  .emoji {
    span {
      display: block;
      width: 64px;
      height: 64px;
      padding: 16px;
      color: white;
      border-radius: 18px;
      background-color: gray;
    }
    .emoji1 {
      background-color: gray;
    }
    .emoji2 {
      background-color: $primary;
    }
    p {
      font-size: 16px;
      margin-top: 5px;
      text-align: center;
      font-weight: 600;
      color: #555;
    }
  }
  p {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    .kcalText {
      color: #fd7b53;
      font-size: 48px;
      font-weight: 600;
    }
  }
}
.resultBtn {
  position: fixed;
  height: 80px !important;
  padding: 15px;
  right: 10%;
  bottom: 10%;
  color: #fff;
  border-radius: 100%;
  background: $primary;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 60%);
  z-index: 3;
}
