.buttonModal {
  position: absolute;
  right: 210px;
  top: 10%;
  width: 45px;
  height: 45px;
  background: $primary;
  opacity: 1;
  border-radius: 100%;
  padding: 5px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index: 5;
  background-image:url(../../../img/random.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  @include mobile{
    right: 60px;
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 90;
}

.modalContainer {
  width: 100%;
  height: 0;
}

.modalBack {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  min-width: 270px;
  min-height: 300px;
  max-width: 380px;
  max-height: 500px;
  padding: 20px;
  z-index: 100;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 50%);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 3%;
  right: 3%;
}

.foodInput {
  position: absolute;
  top: 20%;
  left: 20px;
  width: calc(100% - 170px);
  border: 2px solid $primary;
  border-radius: 10px;
  padding: 10px;
}

.foodButton {
  position: absolute;
  top: 20%;
  right: 20px;
  width: 100px;
  height: 42px;
  background: $primary;
  color: #fff;
  border-radius: 10px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
