html,
body {
  margin: 0;
  max-width: 100%;
}

/* contents wrap */
.contWrap {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  min-height: calc(100vh - 260px);
  flex-direction: column;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  position: relative;
  height: 60px;
  z-index: 3;
  .loginBtn {
  }
  .upper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 1px 4px rgb(0, 0, 0, 20%);
    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 940px;
      height: 60px;
      margin: 0 auto;
      padding: 0 10px;
      
      .logo {
        margin: 0;
        a {
          display: block;
          width: 70px;
          padding: 8px;
          text-decoration: none;
          color: #000;
          img {
            width: 100%;
          }
        }
      }
      .unb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:10px;
        li {
          a {
            display: block;
          }
        }
        :first-child {
          a {
            width: 100px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 15px;
            background: #fff;
            color: $primary;
            border:2px solid $primary;
            border-radius: 5px;
            box-sizing: border-box;
            @include mobile {
              height: 30px;
              line-height: 30px;
              width: 70px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  // 헤더 드롭다운

  .dropdownBtn {
    cursor: pointer;
  }
  //공통 드롭다운 메뉴

  .dropdownMenu.on {
    top: 60px;
  }
  .dropdownMenu {
    position: fixed;
    top: -110px;
    // display: none;
    width: 100%;
    height: 170px;
    background: rgb(253, 123, 84, 0.95);
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.3);
    z-index: 1;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;

    .menuWrap {
      position: relative;
      width: 100%;
      height: 170px;
      max-width: 940px;
      margin: 0 auto;
      ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
        width: 60%;
        max-width: 590px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          width: 100%;
          text-align: center;
          ol {
            li {
              a {
                display: block;
                padding: 10px;
                font-size: 15px;
                color: #eee;
              }
            }
            li:first-child {
              a {
                font-weight: 900;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

// 메인화면 일 때 드롭다운메뉴
.bgWrap {
  .header {
    .dropdownMenu {
      background: rgb(255, 255, 255, 0.7) !important;
      a {
        color: #222 !important;
      }
    }
  }
}

/* subtitle */
.subTitle {
  padding: 60px 0 20px;
  h4 {
    font-size: 30px;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  p {
    padding: 10px 0 0 0;
    margin: 0;
    color: $sub;
  }
}
.bg-o {
  .subTitle {
    h4 {
      color: #fff;
    }
    h5 {
      color: #fff;
    }
    p {
      color: #ddd;
    }
  }
}

/* footer */
#footer {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  z-index: 1;
  .footer {
    background-color: #f5f5f5;
    width: 100%;
    min-width: 100%;
    height: 200px;
    .inner {
      position: relative;
      max-width: 940px;
      margin: 0 auto;
      .footer-logo {
        width: 60px;
        //height: 30px;
        padding: 30px;
        margin: 0;
        float: left;
        img {
          width: 100%;
        }
      }
      .footer-menu {
        display: table;
        margin: 0;
        float: left;
        padding: 35px 0 30px;
        li {
          position: relative;
          display: table-cell;
          a {
            display: block;
            padding: 5px 10px;
            font-size: 14px;
            color: #9ba2a9;
          }
          :before {
            position: absolute;
            display: block;
            content: '|';
            color: #ddd;
            top: 5px;
          }
          :first-child:before {
            display: none;
          }
        }
      }
      .copy {
        clear: both;
        text-align: center;
        font-size: 13px;
        padding: 40px;
        color: #9ba2a9;
      }
    }
  }
}

input[type='checkbox'],
input[type='radio'] {
  appearance: auto;
}

.panel {
  box-shadow: 0px 1px 4px 3px rgb(0, 0, 0, 10%);
  border-radius: 15px;
  background: #fff;
}

.noResult {
  color: $sub;
  font-size: 15px;
  text-align: center;
  padding: 60px 0;
}

// 컬러, 폰트 사이즈
.primary {
  color: $primary;
}
.sub {
  color: $sub;
}
.lg-txt {
  font-size: 20px !important;
}
.md-txt {
  font-size: 15px !important;
}
.sm-txt {
  font-size: 13px !important;
}

//버튼 스타일

.btn {
  padding: 7px 10px;
  border-radius: 5px;
}
.btn01 {
  color: #fff;
  background: $primary;
}
.btn02 {
  color: #fff;
  background: #222;
}
.btn03 {
  color: #fff;
  background: $sub;
}
.btn04 {
  color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
}

//버튼 박스

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 700px;
  gap: 10px;
  margin: 30px auto;
  padding: 30px 0;
  box-sizing: border-box;

  button {
    width: 350px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
  }
  button:first-child {
    background: #222;
  }
  button:last-child {
    background: #fd7b54;
  }
  button:disabled {
    background: #aaa;
    color: #777;
  }
}

// 탑버튼

.topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 3;
}

.topButton.visible {
  opacity: 1;
}

.topButton.hidden {
  opacity: 0;
}

//모바일

@include mobile {

  .header {
    // .loginBtn {
    //     display: block;
    //     position: absolute;
    //     top: 13px;
    //     right: 50px;
    //     font-size: 13px;
    //     padding: 5px 14px;
    //     color: $primary;
    //     background: #fff;
    //     border:2px solid $primary;
    //     box-sizing: border-box;
    //     border-radius: 5px;
    //     z-index: 4;
      
    // }
    .dropdownMenu {
      border-radius: 0;
      height: 150px;
      .menuWrap {
        background: none;
        height: 150px;
        ul {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
.btnBox {
  margin: 0 auto;
  button {
    width: 100%;
  }
}
