html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* contents wrap */
.contWrap {
  flex: 1;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 15px;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 3;

  .upper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: transparent;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 940px;
      height: 60px;
      margin: 0 auto;
      padding: 0 10px;

      .logo {
        margin: 0;
        a {
          display: block;
          img {
            height: 40px;
          }
        }
      }
      .unb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        li {
          a {
            display: block;
          }
        }
      }
    }
  }

  // 헤더 드롭다운
  .dropdownBtn {
    cursor: pointer;
    height: 30px;
  }

  //공통 드롭다운 메뉴

  .dropdownMenu.on {
    top: 0px;
  }
  .dropdownMenu {
    position: fixed;
    top: -230px;
    width: 100%;
    height: 170px;
    padding-top: 60px;
    z-index: 1;
    transition: all 0.3s ease;
    background: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

    .menuWrap {
      position: relative;
      width: 100%;
      height: 170px;
      max-width: 940px;
      margin: 0 auto;
      ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
        width: 60%;
        max-width: 590px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          width: 100%;
          text-align: center;
          ol {
            li {
              a {
                display: block;
                padding: 10px;
                color: #eee;
              }
            }
            li:first-child {
              a {
                font-weight: 900;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

/* subtitle */
.subTitle {
  padding-bottom: 30px;
  h4 {
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  p {
    padding: 10px 0 0 0;
    margin: 0;
    color: $sub;
  }
}
.bg-o {
  .subTitle {
    h4 {
      color: #fff;
    }
    h5 {
      color: #fff;
    }
    p {
      color: #ddd;
    }
  }
}

/* footer */
#footer {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  z-index: 1;
  .footer {
    background-color: #f5f5f5;
    width: 100%;
    min-width: 100%;
    height: 200px;
    .inner {
      position: relative;
      max-width: 940px;
      margin: 0 auto;
      .footer-logo {
        width: 60px;
        //height: 30px;
        padding: 30px;
        margin: 0;
        float: left;
        img {
          width: 100%;
        }
      }
      .footer-menu {
        display: table;
        margin: 0;
        float: left;
        padding: 35px 0 30px;
        li {
          position: relative;
          display: table-cell;
          a {
            display: block;
            padding: 5px 10px;
            font-size: 14px;
            color: #9ba2a9;
          }
          :before {
            position: absolute;
            display: block;
            content: "|";
            color: #ddd;
            top: 5px;
          }
          :first-child:before {
            display: none;
          }
        }
      }
      .copy {
        clear: both;
        text-align: center;
        font-size: 13px;
        padding: 40px;
        color: #9ba2a9;
      }
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  appearance: auto;
}

.panel {
  box-shadow: 0px 1px 4px 3px rgb(0, 0, 0, 10%);
  border-radius: 7px;
  background: #fff;
}

.noResult {
  color: $sub;
  font-size: 15px;
  text-align: center;
  padding: 60px 0;
}

// 컬러, 폰트 사이즈
.primary {
  color: $primary;
}
.sub {
  color: $sub;
}
.lg-txt {
  font-size: 20px !important;
}
.md-txt {
  font-size: 15px !important;
}
.sm-txt {
  font-size: 0.8rem;
}

//버튼 스타일

// 버튼 스타일

.btn {
  padding: 4px 7px;
  border-radius: 3px;
  border: 1px solid;
}
.btn-primary {
  background: $primary;
  color: #fff;
  border-color: $primary;
}
.btn-white {
  background: #fff;
  color: $primary;
  border-color: #fff;
}
.btn-outline-w {
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.btn-outline-p {
  background: transparent;
  color: $primary;
  border-color: $primary;
}

.btn01 {
  color: #fff;
  background: $primary;
}
.btn02 {
  color: #fff;
  background: #222;
}
.btn03 {
  color: #fff;
  background: $sub;
}
.btn04 {
  color: $sub;
  border: 1px solid $sub;
  box-sizing: border-box;
}

//버튼 박스

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 450px;
  margin: 50px auto 0;
  gap: 10px;
  box-sizing: border-box;

  button {
    width: 350px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
  }
  button:first-child {
    background: #222;
  }
  button:last-child {
    background: #fd7b54;
  }
  button:disabled {
    background: #aaa;
    color: #777;
  }
}

// 탑버튼

.topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 3;
}

.topButton.visible {
  opacity: 1;
}

.topButton.hidden {
  opacity: 0;
}

// 효과
.shadow {
  box-shadow: 0 1px 5px 5px rgb(0, 0, 0, 10%);
}

//모바일

@include mobile {
  .header {
    .dropdownMenu {
      border-radius: 0 0 0 100px;
      .menuWrap {
        ul {
          width: 100%;
          a {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
