html,
body {
  margin: 0;
}
/* contents wrap */
.contWrap {
  padding: 0 15px;
  display: flex;
  min-height: calc(100vh - 200px);
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 15px;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background: transparent;
  transition: all ease 0.2s;
  .inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 940px;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    .logo {
      align-self: center;
      a {
        display: block;
        img {
          height: 40px;
        }
      }
    }
    // header web ver
    .menu_wrap.web {
      width: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .gnb {
        ul {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          // 메뉴
          > li {
            text-align: center;
            width: 130px;
            > a {
              display: block;
              color: $primary;
              cursor: pointer;
              height: 60px;
              line-height: 60px;
            }
            // 하단 메뉴
            ol {
              li {
                position: relative;
                a {
                  display: block;
                  padding: 20px 10px;
                  color: $sub;
                  &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 0;
                    background: $primary;
                    transition: all ease 0.2s;
                  }
                  &:hover {
                    color: $primary;
                  }
                  &:hover::after {
                    width: 100%;
                  }
                }
              }
            }
            &:hover > a {
              background: $lprimary;
            }
          }
        }
      }
      .gnb.gnb_main {
        > ul {
          > li {
            > a {
              color: #fff;
            }
          }
        }
      }
      .unb {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        li {
          a {
            display: block;
          }
        }
      }
    }
  }
  // 모바일 레이어 메뉴
  .menu_wrap.mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    .gnb {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 80px 10px 0;
      z-index: 100;
      background: #fff;
      box-sizing: border-box;
      > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        > li {
          width: 100%;
          text-align: center;
          font-weight: bold;
          ol {
            margin-top: 30px;
            li {
              a {
                display: block;
                padding: 10px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    .gnb.on {
      display: block;
    }
    .unb {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      z-index: 101;
      .btn {
        font-size: small;
        box-sizing: border-box;
      }
      .dropdown_btn {
        padding: 0;
      }
    }
  }
}

// 헤더 마우스 오버 이벤트
.header.over.web {
  height: 200px;
  background: #fff;
  box-shadow: 0 1px 4px 4px rgb(0, 0, 0, 10%);
  .menu_wrap {
    .gnb {
      > ul {
        > li {
          > a {
            color: $primary !important;
          }
        }
      }
    }
  }
}

/* subtitle */
.subTitle {
  padding-bottom: 30px;
  h4 {
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  p {
    padding: 10px 0 0 0;
    margin: 0;
    color: $sub;
  }
}

/* footer */
#footer {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  z-index: 1;
  .footer {
    background-color: #f5f5f5;
    width: 100%;
    min-width: 100%;
    height: 200px;
    .inner {
      position: relative;
      max-width: 940px;
      margin: 0 auto;
      .footer_logo {
        width: 60px;
        //height: 30px;
        padding: 30px;
        margin: 0;
        float: left;
        img {
          width: 100%;
        }
      }
      .footer_menu {
        display: table;
        margin: 0;
        float: left;
        padding: 35px 0 30px;
        li {
          position: relative;
          display: table-cell;
          a {
            display: block;
            padding: 5px 10px;
            font-size: 14px;
            color: #9ba2a9;
          }
          :before {
            position: absolute;
            display: block;
            content: "|";
            color: #ddd;
            top: 5px;
          }
          :first-child:before {
            display: none;
          }
        }
      }
      .copy {
        clear: both;
        text-align: center;
        font-size: 13px;
        padding: 40px;
        color: #9ba2a9;
      }
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  appearance: auto;
}

.panel {
  box-shadow: 0px 1px 4px 3px rgb(0, 0, 0, 10%);
  border-radius: 7px;
  background: #fff;
}

.noResult {
  color: $sub;
  font-size: 13px;
  text-align: center;
  padding: 60px 0;
}

// 컬러, 폰트 사이즈
.primary {
  color: $primary;
}
.sub {
  color: $sub;
}
.lg-txt {
  font-size: 20px !important;
}
.md-txt {
  font-size: 15px !important;
}
.sm-txt {
  font-size: 0.8rem;
}

// 버튼 스타일

.btn {
  padding: 4px 7px;
  border-radius: 3px;
  border: 1px solid;
}
.btn-primary {
  background: $primary;
  color: #fff;
  border-color: $primary;
}
.btn-white {
  background: #fff;
  color: $primary;
  border-color: #fff;
}
.btn-outline-w {
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.btn-outline-p {
  background: transparent;
  color: $primary;
  border-color: $primary;
}

.btn01 {
  color: #fff;
  background: $primary;
}
.btn02 {
  color: #fff;
  background: #222;
}
.btn03 {
  color: #fff;
  background: $sub;
}
.btn04 {
  color: $sub;
  border: 1px solid $sub;
  box-sizing: border-box;
}

//버튼 박스

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin: 50px auto 0;
  gap: 10px;
  box-sizing: border-box;

  button {
    max-width: 350px;
    width: 100%;
    height: 50px;
    color: #fff;
    border-radius: 5px;
  }
  button:first-child {
    background: #222;
  }
  button:last-child {
    background: #fd7b54;
  }
  button:disabled {
    background: #aaa;
    color: #777;
  }
}

// 탑버튼

.top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 3;
}

.top_btn.visible {
  opacity: 1;
}

.top_btn.hidden {
  opacity: 0;
}

// 효과
.shadow {
  box-shadow: 0 1px 5px 5px rgb(0, 0, 0, 10%);
}
