/* 변수 */

/* color */
$primary: #fd7b54;
$sub: #aaa7b4;
$lprimary: #ffe4db;

/* Responsive layout, breakpoint */
$breakpoint-tablet: 650px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

/* 공통 */
@import "./common.css";
@import "./layout.scss";
@import "./main.scss";
/* 컴포넌트 */
@import "./components/map/map.scss";
@import "./components/auth/auth.scss";
@import "./components/search/result.scss";
@import "./components/calc/calc.scss";

// 다이어리 컴포넌트
@import "./components/diary/Editor.scss";
@import "./components/diary/DiaryList.scss";
@import "./components/diary/DiaryItem.scss";
@import "./components/diary/DiaryHeader.scss";
@import "./components/diary/EmotionItem.scss";

/* 보드 컴포넌트*/
@import "./components/board/board.scss";

/* 로그인/ 아이디비밀번호 찾기 */
@import "./components/auth/Search_id.scss";
@import "./components/auth/Search_pw.scss";
