//스위치문 선택메뉴

.menu_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid $primary;
  .switchMenu {
    border-radius: 3px;
    padding: 4px 7px;
    height: 40px;
    border: 1px solid $primary;
    background: #fff;
    color: $primary;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;

    option {
      color: #555;
      padding: 7px;
    }
  }
}

//사용자 게시판

.boardList {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
  li {
    width: 100%;
    border-bottom: 1px #ddd solid;
    padding: 15px 7px;
    box-sizing: border-box;
    Link {
      padding-right: 50%;
    }
  }
}

//공통 에디터

.editor {
  width: 100%;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  .tit {
    display: block;
    margin: 7px 0 4px;
    font-size: 0.75rem;
    color: $sub;
  }
  input,
  textarea {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
  }
  textarea {
    height: 30vh;
  }
}

//게시글

.detailBoard {
  position: relative;
  padding-top: 50px;
  .tit {
    flex: 1;
    font-weight: 600;
    font-size: 1.05rem;
  }

  .createBy {
    margin: 20px 0;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: $sub;
    font-size: 13px;
  }

  .content {
    box-sizing: border-box;
    min-height: 30vh;

    .conts {
      .textBox,
      .parts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        h5 {
          margin-bottom: 15px;
          text-align: left;
          font-weight: 600;
        }
      }
      img {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  // 하단 버튼
  .detailBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    .moveBtn {
      display: flex;
      flex-direction: row;
      gap: 7px;
      button {
        svg {
          padding-top: 3px;
        }
      }
    }
  }
}
